body{
    display: blick;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUZwIzBIN5Me-ZVadqOPkTPna3tNxg_DhbBw&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
}